@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
    font-family: Roboto;
}

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-thumb {
    background: #222;
}

section {
    padding: 3rem 9%;
}

span {
    color: #222;
}

.heading {
    text-align: center;
    color: #222;
    margin-bottom: 3rem;
    font-size: 4rem;
}
/* '---Buttons em geral---' */
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    color: #222;
    font-size: 1.7rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .1rem;
    background: #222;
    color: #fff;
}

/* ---NAVBAR--- */
#logo {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    padding-left: 40px;
    padding-bottom: 15px;
}

header {
    box-sizing: border-box;
    z-index: 9999999;
    height: 65px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
}

.navbar-mobile {
    display: flex;
    padding-top: 15px;
}

.navbar-mobile, #logo {
    font-size: 28px;
    margin-top: 12px;
    margin-left: 10px;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    margin-top: -10px;
    margin-left: 130px;
    margin-bottom: 10px;
}

#nav {
    width: 1000px;
}

#menu a {
    display: block;
    padding: .6rem;
    font-size: 18px;
    transition: 0.75s;
}
#menu a:hover{
    color: #666;
    transition: 0.75s;
}

#btn-mobile {
    display: none;
}

.cart-icon {
    width: 80px;
    height: 70px;
    background-image: url(style/img/cart-icon.png);
    background-size: contain;
    transition: 0.75s;
    margin-right: -100px;
}

.cart-icon:hover {
    background-image: url(style/img/cart-icon-click.png);
    transition: 0.75s;
}

/* 'CARROSSEL' */
.box-slider{
    width: 100%;
    height: 595px;
    margin-top: -25px;
    margin-left: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.slid-img{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.slider{
    opacity: 0;
    transition: opacity .2s;
    width: 1375px;
    height: 595px;
    position: absolute;
    transition: 1s;
}
.on{
    opacity: 1;
}
.b-crsl{
    background: transparent;
    border-style: none;
    position: relative;
    cursor: pointer;
}
.b-crsl img{
    width: 45px;
    height: 45px;
    background-color: #6666662c;
    border-radius: 4px;
}
.box-b{
    display: flex;
    gap: 1rem;
    margin-right: -100px;
    margin-top: 520px;

}
#next {
    transform: rotate(180deg);
    padding-top: 5px;
  }


/* ---LOGO-MARCAS--- */
.marcas .box-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.marcas .box-container .box {
    text-align: center;
    box-shadow: 4px 4px 8px 1px #5a5a5a2c;
}

.marcas .box-container .box img {
    height: 110px;
    width: 200px;
    border-radius: 4px;
    border-style: none;
}

/* ---ABOUT--- */
.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 75px;
    margin-top: -15px;
}

.about .img {
    flex: 1 1 42rem;
    padding-bottom: 5rem;
    padding-right: 5rem;
}

.about .img img {
    width: 100%;
    box-shadow: 4rem 4rem 0 #eee;
}

.about .content {
    flex: 1 1 42rem;
    margin-top: 105px;
}

.about .content .box {
    padding: 3rem;
    background: #eee;
    border-radius: 4px;
}

.about .content .box h3 {
    font-size: 2.5rem;
    color: #222;
}

.about .content .box p {
    padding: 1rem 0;
    line-height: 2;
    color: #666;
    font-size: 1.4rem;
    font-family: roboto;
}

.about .content .icons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 2rem;
    margin-top: 2rem;
}

.about .content .icons-container .icons {
    flex: 1 1 16rem;
    background: #eee;
    padding: 2rem;
    text-align: center;
}

.about .content .icons-container .icons i {
    color: #222;
    margin-bottom: 1rem;
    font-size: 5rem;
}

.about .content .icons-container .icons p {
    font-size: 1.4rem;
    color: #666;
}

/* ---PRODUCTS--- */
.shop {
    color: #eee;
}

.shop .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 2rem;
}

.shop .box-container .box {
    text-align: center;
    background: #fff;
    border: 0.2rem solid #222;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.shop .box-container .box:hover .img img {
    transform: scale(1.1);
}

.shop .box-container .box:hover .img .icons {
    transform: translateX(0rem);
}

.shop .box-container .box .img {
    position: relative;
    overflow: hidden;
}

.shop .box-container .box .img img {
    height: 25rem;
}

.shop .box-container .box .img .icons {
    position: absolute;
    top: 1rem;
    left: 2rem;
    transform: translateX(-10rem);
}

.shop .box-container .box .img .icons a {
    display: block;
    height: 60px;
    width: 70px;
    line-height: 4.5rem;
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-left: -10px;
}

.view {
    background-image: url(style/img/view-icon.png);
    background-size: contain;
    transition: 0.75s;
}

.view:hover {
    background-image: url(style/img/view-icon-hover.png);
    background-size: contain;
    transition: 0.75s;
}

.heart {
    background-image: url(style/img/heart-icon.png);
    background-size: contain;
    transition: 0.75s;
}

.heart:hover {
    background-image: url(style/img/heart-icon-hover.png);
    background-size: contain;
    transition: 0.75s;
}

.share {
    background-image: url(style/img/share-icon.png);
    background-size: contain;
    transition: 0.75s;
}

.share:hover {
    background-image: url(style/img/share-icon-hover.png);
    background-size: contain;
    transition: 0.75s;
}

.shop .box-container .box .content {
    padding: 2rem;
}

.shop .box-container .box .content h3 {
    font-size: 2rem;
    color: #222;
    padding-bottom: .5rem;
    font-weight: normal;
}

.shop .box-container .box .content .price {
    font-size: 2rem;
    font-weight: bolder;
    color: #222;
}

.shop .box-container .box .content .price span {
    color: #666;
    font-size: 1.7rem;
    text-decoration: line-through;
}

.banner {
    background: url(img/banner-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 350px;
    margin-left: 350px;
}

.banner .content {
    max-width: 40rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    margin: 10rem 0;
}

.banner .content span {
    font-size: 2rem;
}

.banner .content h3 {
    font-size: 3rem;
    color: #222;
    padding-top: .5rem;
}

.banner .content p {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
}

/* ---CONTACT--- */
.message {
    background: url(img/message-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 3rem 2rem;
}

.message form {
    margin: 2rem auto;
    background: #fff;
    text-align: center;
    max-width: 45rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-top: 110px;
    margin-bottom: 100px;
}

.message form h3 {
    font-size: 3rem;
    color: #222;
}

.message form .box {
    width: 100%;
    padding: 1.5rem 0;
    margin: .7rem 0;
    font-size: 1.6rem;
    color: #666;
    text-transform: none;
    border-radius: 0.2rem solid #222;
}

.message form .box:focus {
    border-color: #222;
}

.message form textarea {
    height: 15rem;
    resize: none
}

/* ---SERVICES--- */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 2rem;
    background: black;
}

.services .box {
    text-align: center;
    padding: 2rem;
}

.services .box img {
    height: 10rem;
}

.services .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.services .box p {
    line-height: 2;
    font-size: 1.4rem;
    color: #fff;
}

/* ---FOOTER--- */
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #222;
    padding: 1rem 0;
}

.footer .box-container .box .link {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #666;
    display: block;
}

.footer .box-container .box .link i {
    padding-right: .5rem;
    color: #222;
}

.footer .box-container .box .link:hover {
    color: #222;
}

.footer .box-container .box .link:hover i {
    padding-right: 2rem;
}

.footer .box-container .box .share {
    margin-top: 2rem;
}

.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #eee;
    text-align: center;
    color: #222;
    margin-right: .5rem;
}
@media screen and (max-width: 1020px){
    .box-slider, .slider{
        height: 280px;
        width: 450px;
        margin-top: -35px;
        margin-left: -30px;
    }
    .box-b{
        margin-right: 0px;
    }
    .b-crsl{
        display: none;
    }
    .marcas .box-container{
        display: grid;
        margin-left: 65px;
        margin-right: 65px;
    }
    .about{
        margin-left: -20px;
        margin-right: -20px;
        margin-top: -20px;
    }
    #btn-contact{
        background-color: rgb(0, 0, 0);
        color: white;
    }
}
body,
ul {
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

@media (max-width : 1000px) {
    body{
        margin-left: 5px;
        margin-right: -15px;
    }
    header{
        height: 5px;
    }
    .navbar-mobile{
        height: 20px;
        display: inline-block;
        margin-top: 5px;
    }
    #logo {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        padding: 0;
        position: absolute;
        top: 2px;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 57px;
        right: 0;
        background: #e7e7e7e1;
        height: 0px;
        transition: .6s;
        z-index: 99999;
        visibility: hidden;
        overflow-y: hidden;
    }
    #btn-mobile{
        margin-left: 130px;
        margin-top: -12px;

    }

    #nav{
        margin-left: 190px;
    }
    #nav.active #menu {
        position: absolute;
        height: calc(100vh - 70vh);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 20px;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        display: inline-bolck;
        border-top: 2px solid;
        width: 20px;
        margin-top: 6px;

    }

    #hamburger::after,
    #hamburger::before {
        width: 20px;
        height: 2px;
        background-color: currentColor;
        content: '';
        display: block;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(-135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(135deg);
        top: -7px;
    }

    #home {
        margin-top: 50px;
    }
    .cart-icon{
        margin-left: -10px;
        margin-top: -5px;
    }
    .message{
        margin-left: -1px;
        margin-right: -1px;
    }
}