/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap'); */
@font-face {
    font-family: Roboto;
    src: url(style/fonts/Roboto-Regular.ttf);
}
body{
    font-family: Roboto;
}
*{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar{
    width:1rem;
}
html::-webkit-scrollbar-thumb{
    background: #222;
}
section{
    padding:3rem 9%;
}
span{
    color: #222;
}

.heading{
    text-align: center;
    color: #222;
    margin-bottom: 3rem;
    font-size: 4rem;
}

.btn{
    display:inline-block;
    margin-top:1rem;
    padding:1rem 3rem;
    color:#222;
    font-size:1.7rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .1rem;
    background: #222;
    color: #fff;
}


@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(-4rem) scale(0.4);
    }
}
.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
}
.header .logo{
    font-size: 2.5rem;
    color: #222;
    font-weight: bolder;
}
.header .logo i{
    color: #222;
}
.header .navbar a{
    margin: 0 1.5rem;
    font-size: 17.5px;
    color: #222;
}
.header .navbar a:hover{
    color: #222;
}
.header .icons div,
.header .icons a{
    height: 4.5rem;
    width:4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.7rem;
    color: #222;
    margin-left: .3rem;
    text-align: center;
    cursor: pointer;
}
.header .icons a:hover,
.header .icons div:hover{
    background: #222;
    color: #fff;
}
.header #menu-btn{
    display: none;
}

.home{
    position: relative;
    padding:0;
}

.home .slide{
    padding: 3rem;
    display: flex;
    min-height: 90vh;
    display:none;
}
.home .slide .content{
    margin:60;
    text-align: left;
    padding-top:18rem;
}
.home .slide.active{
    display:flex;
}

.home .slide .content span{
    color: #fff;
    display:block;
    font-size: 9rem;
    text-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    animation: fadeIn .2s linear backwards;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.home .slide .content span:hover{
    color: #222;
}
.home .slide .content h3{
    font-size:1.7rem;
    color: #fff;
    text-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    animation: fadeIn .2s linear backwards .4s;
    letter-spacing: .1rem;
    font-weight: normal;

}
.home .slide .content .btn{
    animation: fadeIn .2s linear backwards .6s;
}
.home #next-slide,
.home #prev-slide{
    height:5rem;
    width:5rem;
    line-height:4.5rem;
    font-size:2.5rem;
    color: #222;
    background: transparent;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.9);
    cursor: pointer;
    position: absolute;
    bottom:2rem;
    right:2rem;
    text-align: center;
}

.home #next-slide:hover,
.home #prev-slide:hover{
    background: #222;
    color: #fff;
}

.home #prev-slide{
    right:8rem;
}

.category .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap:2rem;
}

.category .box-container .box{
    text-align:center;
}

.category .box-container .box:hover h3{
    color: #222;
}
.category .box-container .box img{
    height:14rem;
    margin-bottom:1rem;
}

.category .box-container .box h3{
    font-size:1.7rem;
    color: #222;
    font-weight: bold;
}

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    margin-right: 300px;
    margin-left: 300px;
}
.about .img{
    flex: 1 1 42rem;
    padding-bottom: 5rem;
    padding-right: 5rem;
}
.about .img img{
    width: 100%;
    box-shadow: 4rem 4rem 0 #eee;
}
.about .content{
    flex: 1 1 42rem;
}
.about .content .box{
    padding: 3rem;
    background: #eee;
}
.about .content .box h3{
    font-size:2.5rem;
    color: #222;
}
.about .content .box p{
    padding: 1rem 0;
    line-height: 2;
    color: #666;
    font-size:1.4rem;
}
.about .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 2rem;
    margin-top: 2rem;
}
.about .content .icons-container .icons{
    flex: 1 1 16rem;
    background: #eee;
    padding:2rem;
    text-align: center;
}
.about .content .icons-container .icons i{
    color:#222;
    margin-bottom: 1rem;
    font-size: 5rem;
}
.about .content .icons-container .icons p{
    font-size:1.4rem;
    color: #666;
}

.shop{
    color: #eee;
}
.shop .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap:2rem;
}
.shop .box-container .box{
    text-align: center;
    background: #fff;
    border: 0.2rem solid #222;
    box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
    border-radius: 6px;
}
.shop .box-container .box:hover .img img{
    transform:scale(1.1);
}
.shop .box-container .box:hover .img .icons{
    transform:translateX(0rem);
}
.shop .box-container .box .img{
    position: relative;
    overflow: hidden;
}
.shop .box-container .box .img img{
    height:25rem;
}
.shop .box-container .box .img .icons{
    position:absolute;
    top: 1rem;
    left: 2rem;
    transform:translateX(-10rem);
}
.shop .box-container .box .img .icons a{
    display:block;
    height:5rem;
    width:5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: #222;
    border-radius: 0.2rem solid #222;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin-top:1rem;
}
.shop .box-container .box .img .icons a:hover{
    color: #fff;
    background: #222;
}
.shop .box-container .box .content{
    padding:2rem;
}
.shop .box-container .box .content h3{
    font-size:2rem;
    color: #222;
    padding-bottom: .5rem;
    font-weight: normal;
}
.shop .box-container .box .content .price{
    font-size: 2rem;
    font-weight: bolder;
    color: #222;
}
.shop .box-container .box .content .price span{
    color: #666;
    font-size:1.7rem;
    text-decoration: line-through;
}

.banner{
    background: url(img/banner-bg.png) no-repeat;
    background-size:cover;
    background-position:center;
    margin-right: 350px;
    margin-left: 350px;
}
.banner .content{
    max-width: 40rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    padding: 2rem;
    text-align: center;
    margin: 10rem 0;
}
.banner .content span{
    font-size:2rem;
}
.banner .content h3{
    font-size:3rem;
    color: #222;
    padding-top: .5rem;
}
.banner .content p{
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
}

.gallery .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap:2rem;
}
.gallery .box-container .box{
    height:25rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
.gallery .box-container .box:hover .content{
    display: flex;
}
.gallery .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.gallery .box-container .box .content{
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    padding:2rem;
    text-align:center;
    border:0.2rem solid #222;
    display: none;
}
.gallery .box-container .box .content h3{
    font-size: 2rem;
    color: #222;
    animation: fadeIn .2s linear backwards;
}
.gallery .box-container .box .content p{
    font-size: 1.4rem;
    color: #222;
    padding:1rem 0;
    line-height: 2;
    animation: fadeIn .2s linear backwards .4s;
}
.gallery .box-container .box .content .btn{
    animation: fadeIn .2s linear backwards .6s;
}

.message{
    background: url(img/message-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding:3rem 2rem;
}
.message form{
    margin: 2rem auto;
    background: #fff;
    text-align:center;
    max-width: 40rem;
    box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
    padding: 2rem;
}
.message form h3{
    font-size: 3rem;
    color: #222;
}
.message form .box{
    width: 100%;
    padding:1.5rem 0;
    margin:.7rem 0;
    font-size: 1.6rem;
    color: #666;
    text-transform: none;
    border-radius: 0.2rem solid #222;
}
.message form .box:focus{
    border-color:#222;
}
.message form textarea{
    height:15rem;
    resize:none
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap:2rem;
}
.blogs .box-container .box{
    border:0.1rem solid #222;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.blogs .box-container .box:hover .img img{
    transform: scale(1.1);
}
.blogs .box-container .box .img{
    height:30rem;
    width: 100%;
    border:0.1rem solid #222;
    overflow: hidden;
}
.blogs .box-container .box .img img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.blogs .box-container .box .content{
    padding:2rem;
    position:relative;
}
.blogs .box-container .box .content .date{
    position:absolute;
    top:-4rem;
    right: 3rem;
    height:8rem;
    width:8rem;
    border: 0.5rem solid #fff;
    border-radius: 50%;
    background: #222;
    text-align: center;
    padding-top: 1rem;
}
.blogs .box-container .box .content .date h3{
    font-size:2.7rem;
    line-height:1;
    color: #fff;
}
.blogs .box-container .box .content .date span{
   font-size: 1.5rem;
   color: #fff;
}
.blogs .box-container .box .content .user{
    display: block;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: #666;
}
.blogs .box-container .box .content .user i{
    padding-right: .5rem;
    color: #222;
}
.blogs .box-container .box .content .user:hover{
    color: #222;
}
.blogs .box-container .box .content .title{
    font-size: 2rem;
    color: #222;
}
.blogs .box-container .box .content .title:hover{
    color: #222;
}
.blogs .box-container .box .content p{
    padding:1rem 0;
    line-height: 2;
    color: #666;
    font-size: 1.4rem;
}

.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap:2rem;
    background: black;
}
.services .box{
    text-align: center;
    padding:2rem;
}
.services .box img{
    height:10rem;
}
.services .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color: #fff;
}
.services .box p{
    line-height: 2;
    font-size: 1.4rem;
    color: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:2rem;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color: #222;
    padding:1rem 0;
}
.footer .box-container .box .link{
    padding:1rem 0;
    font-size: 1.4rem;
    color: #666;
    display:block;
}
.footer .box-container .box .link i{
    padding-right: .5rem;
    color: #222;
}
.footer .box-container .box .link:hover{
    color: #222;
}
.footer .box-container .box .link:hover i{
    padding-right: 2rem;
}
.footer .box-container .box .share{
    margin-top: 2rem;
}
.footer .box-container .box .share a{
    height:4.5rem;
    width:4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #eee;
    text-align: center;
    color: #222;
    margin-right: .5rem;
}