/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3.5rem;
  /*===== Colors =====*/
  --first-color: #A29596;
  --primary: #A29596;
  --second-color: #33303D;
  --black-color: #111111;
  --white-color: #FFF;
  /*===== Font and typography =====*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 1.5rem;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;
  /*===== z index =====*/
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.25rem;
    --big-font-size: 2.25rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
  /* 'NAV LIST' */
}
.header{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1.5rem 9%;
  height: 65px;
  font-family: 'Roboto', sans-serif;
}
.header .logo{
  font-size: 25px;
  color: #222;
  font-weight: bolder;
}
.header .logo i{
  color: #222;
}
.header .navbar a{
  margin: 0 1.5rem;
  font-size: 17.5px;
  color: #222;
}
.header .navbar a:hover{
  color: #222;
}
.header .icons div,
.header .icons a{
  height: 4.5rem;
  width:4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: #eee;
  font-size: 1.7rem;
  color: #222;
  margin-left: .3rem;
  text-align: center;
  cursor: pointer;
}
.header .icons a:hover,
.header .icons div:hover{
  background: #222;
  color: #fff;
}
.header #menu-btn{
  display: none;
}
/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
/*===== HOME =====*/
.home {
  height: 100vh;
  display: grid;
  row-gap: 3.5rem;
  grid-template-rows: repeat(2, max-content);
  overflow: hidden;
  margin-top: -65px;
  padding-top: 50px;
}

/*===== Sneaker =====*/
.sneaker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  position: relative;
}

.sneaker__figure {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  transition: .5s;
}

.sneaker__img {
  width: 313px;
  position: absolute;
  top: 16%;
  left: 9%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  filter: drop-shadow(0px 10px 10px rgba(17, 17, 17, 0.4));
}

.sneaker__img.shows {
  opacity: 1;
}

.sneaker__colors {
  position: absolute;
  right: 2%;
}

.sneaker__color {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: .5rem;
  cursor: pointer;
}

.sneaker__color.active {
  border: 2px solid var(--white-color);
  box-shadow: 0 0 2px black;
}

.sneaker__colors-one {
  background-color: var(--first-color);
}

.sneaker__colors-two {
  background-color: var(--black-color);
}

/*===== Data =====*/
.data {
  margin-bottom: 1.5rem;
}

.data__subtitle {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.data__title {
  font-size: 40px;
  margin-bottom: .5rem;
}

.data__description {
  font-size: var(--normal-font-size);
}

.actions {
  display: flex;
  justify-content: space-between;
}

/*===== Size =====*/
.size__title {
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
}

.size__content {
  display: flex;
}

.size__tallas {
  width: 30px;
  height: 30px;
  margin-right: .5rem;
  font-size: var(--smaller-font-size);
  text-align: center;
  line-height: 30px;
  border-radius: .25rem;
  cursor: pointer;
}

.size__tallas.active {
  background-color: var(--primary);
  color: var(--white-color);
}

/*===== Qty =====*/
.quantity__title {
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
}

.quantity__content {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: var(--white-color);
  padding: .5rem;
  border-radius: .25rem;
}

/*===== Price =====*/
.price {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--white-color);
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0px 0px 20px rgba(17, 17, 17, 0.25);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price__title {
  font-size: var(--big-font-size);
  color: var(--black-color);
}

.price__button {
  background-color: black;
  color: white;
  padding: 1.25rem 3.125rem;
  border-radius: .5rem;
  transition: box-shadow .4s;
}

/*===== BREAKPOINTS =====*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home {
    row-gap: 1.5rem;
  }
  .sneaker__figure {
    width: 210px;
    height: 210px;
  }
  .sneaker img {
    width: 230px;
  }
  .sneaker__colors {
    right: 1%;
  }
  .price__title {
    font-size: var(--normal-font-size);
  }
  .price__button {
    padding: 1.25rem 2rem;
  }
}

/* For medium devices */
@media screen and (min-width: 480px) {
  .data__description {
    width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .home {
    grid-template-columns: repeat(2, max-content);
    align-content: center;
    justify-content: center;
    column-gap: 6rem;
    row-gap: 0;
  }
  .sneaker {
    margin-top: 0;
  }
  .sneaker__colors {
    right: -10%;
  }
  .sneaker__img {
    left: -6%;
  }
  .actions {
    margin-bottom: 3rem;
  }
  .price {
    position: initial;
    background-color: initial;
    justify-content: space-between;
    box-shadow: none;
    padding: 0;
  }
  .price__title {
    color: var(--black-color);
    font-weight: var(--font-medium);
  }
}

/* For large devices */
@media screen and (min-width: 968px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__toggle {
    display: none;
  }
  .sneaker {
    margin: 0;
  }
  .sneaker__figure {
    width: 430px;
    height: 430px;
  }
  .sneaker__img {
    width: 550px;
    top: -8%;
  }
  .sneaker__colors {
    right: initial;
    bottom: -3rem;
  }
  .sneaker__colors span {
    display: inline-block;
  }
  .info {
    align-self: center;
  }
  .data {
    margin-bottom: 2.5rem;
  }
  .data__subtitle {
    font-size: 1.5rem;
  }
  .data__title {
    margin-bottom: 1rem;
  }
  .size__tallas {
    width: 34px;
    height: 34px;
    line-height: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    margin-left: auto;
    margin-right: auto;
  }
}
