@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --header-height: 3.5rem;
  /*---Tipo fonte---*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 1.5rem;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*--- tamanho fonte---*/
  --font-medium: 500;
  --font-bold: 700;
}

/* 'NAV LIST' */
#logo {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  padding-left: 40px;
  padding-bottom: 15px;
  color: black;
}

header {
  box-sizing: border-box;
  height: 65px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.navbar-mobile {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  background: #fff;
}

.navbar-mobile, #logo {
  font-size: 28px;
  margin-top: 12px;
  margin-left: 10px;
}

#menu {
  height: 50px;
  display: flex;
  list-style: none;
  gap: .5rem;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  margin-top: -10px;
  margin-left: 130px;
  margin-bottom: 10px;
}

#nav {
  width: 1000px;
}

#menu a {
  display: block;
  padding: .6rem;
  font-size: 18px;
  transition: 0.75s;
  color: black;
  margin-bottom: -30px;
}
#menu a:hover{
  color: #666;
  transition: 0.75s;
}

#btn-mobile {
  display: none;
}

.cart-icon {
  width: 80px;
  height: 70px;
  background-image: url(../style/img/cart-icon.png);
  background-size: contain;
  transition: 0.75s;
  margin-right: -100px;
}

.cart-icon:hover {
  background-image: url(../style/img/cart-icon-click.png);
  transition: 0.75s;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*===== HOME =====*/
.home {
  height: 550px;
  display: grid;
  row-gap: 3.5rem;
  grid-template-rows: repeat(2, max-content);
  overflow: hidden;
  margin-top: -35px;
  padding-top: 50px;
}

main {
  display: flex;
  margin-top: 10px;
}

/*---'Carrossel'---*/
.box-slider {
  width: 600px;
  height: 450px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.slid-img {
  width: 400px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.slider {
  opacity: 0;
  transition: opacity .2s;
  width: 400px;
  height: 450px;
  position: absolute;
  border-radius: 12px;
}

.on {
  opacity: 1;
}

.b-crsl {
  background: transparent;
  border-style: none;
  position: relative;
  cursor: pointer;
}

.b-crsl img {
  width: 70px;
  height: 70px;
}

#next {
  transform: rotate(180deg);
}

/*===== Sneaker =====*/
.sneaker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  left: -3%;
  position: relative;
}

.sneaker__figure {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  transition: .5s;
}

.sneaker__img {
  width: 313px;
  position: absolute;
  top: 16%;
  padding-top: 15px;
  padding-right: 10px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  filter: drop-shadow(0px 10px 10px rgba(17, 17, 17, 0.4));
}

.sneaker__img.shows {
  opacity: 1;
}

/*===== Data =====*/
.data {
  margin-bottom: 1.5rem;
}

.data__subtitle {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.data__title {
  font-size: 40px;
  margin-bottom: .5rem;
}

.data__description {
  font-size: var(--normal-font-size);
}

.actions {
  display: flex;
  justify-content: space-between;
}

/*===== Qty =====*/
.quantity__title {
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
}

.quantity__content {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: .5rem;
  border-radius: .25rem;
}

#number-qty {
  background-color: transparent;
  padding: 3px;
  width: 96px;
  height: 26px;
  margin-left: -5.60px;
  color: white;
  border-style: none;
  text-align: center;

}

/*===== Price =====*/
.price {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: white;
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0px 0px 20px rgba(17, 17, 17, 0.25);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#price-origin {
  color: #666;
  font-size: 21px;
  text-decoration: line-through;
  margin-left: -100px;
  margin-bottom: -5px;
}

.price__title {
  font-size: var(--big-font-size);
  color: black;
}

.price__button {
  background-color: black;
  color: white;
  padding: 1.25rem 3.125rem;
  border-radius: .5rem;
  transition: box-shadow .4s;
}

/*===== BREAKPOINTS =====*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home {
    row-gap: 1.5rem;
  }

  .sneaker__figure {
    width: 210px;
    height: 210px;
  }

  .sneaker img {
    width: 230px;
  }

  .sneaker__colors {
    right: 1%;
  }

  .price__title {
    font-size: var(--normal-font-size);
  }

  .price__button {
    padding: 1.25rem 2rem;
  }
}

/* For medium devices */
@media screen and (min-width: 480px) {
  .data__description {
    width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .home {
    grid-template-columns: repeat(2, max-content);
    align-content: center;
    justify-content: center;
    column-gap: 6rem;
    row-gap: 0;
  }

  .sneaker {
    margin-top: 0;
  }

  .sneaker__colors {
    right: -10%;
  }

  .sneaker__img {
    left: -6%;
  }

  .actions {
    margin-bottom: 3rem;
  }

  .price {
    position: initial;
    background-color: initial;
    justify-content: space-between;
    box-shadow: none;
    padding: 0;
  }

  .price__title {
    color: black;
    font-weight: var(--font-medium);
  }
}

/* For large devices */
@media screen and (min-width: 968px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__toggle {
    display: none;
  }

  .sneaker {
    margin: 0;
  }

  .sneaker__figure {
    width: 430px;
    height: 430px;
  }

  .sneaker__img {
    width: 550px;
    top: -8%;
  }

  .sneaker__colors {
    right: initial;
    bottom: -3rem;
  }

  .sneaker__colors span {
    display: inline-block;
  }

  .info {
    align-self: center;
    width: 500px;
  }

  .data {
    margin-bottom: 2.5rem;
  }

  .data__subtitle {
    font-size: 1.5rem;
  }

  .data__title {
    margin-bottom: 1rem;
  }

  .size__tallas {
    width: 34px;
    height: 34px;
    line-height: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1080px) {
  :root {
    --biggest-font-size: 3.25rem;
    --big-font-size: 2.25rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
  main{
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .box-slider{
    margin-left: 40px;
    margin-right: 40px;
    width: 345px;
    height: 350px;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
  }
  .slid-img{
    width: 290px;
    height: 310px;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
  }
  .slider{
    width: 280px;
    height: 300px;
    margin-left: -10px;
    margin-right: 10px;
  }
  .sneaker{
    margin-top: -30px;
  }
  .sneaker img{
    height: 310px;
    width: 300px;
    margin-right: -35px;
    margin-top: -40px;
  }
  #prev{
    margin-left: -25px;
    z-index: 1000;
  }
  #next{
    margin-left: -50px;
    margin-top: -10px;
  }
  .price{
    margin-bottom: -3px;
}
  .info{
    margin-top: -160px;
    padding-top: -100px;
    padding-left: 20px;
    padding-right: 20px; 
    margin-bottom: 60px;
    padding-bottom: 80px;
  }
  .data{
    margin-top: 5px;
  }
  .price__title{
    font-size: 30px;
    margin-top: -20px;
    margin-left: -10px;
  }
  #price-origin{
    margin-top: 30px;
    margin-left: -150px;
  }

}
@media (max-width : 1000px) {
  header{
      height: 50px;
      padding: 0, 0;
  }
  .navbar-mobile{
    margin-left: -5px;
    margin-top: -5px;
  }
  #logo {
      font-size: 20px;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      padding: 0;
      position: absolute;
      top: 5px;
  }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 57px;
        right: 0px;
        background: #e7e7e7e1;
        height: 0px;
        transition: .6s;
        z-index: 99999;
        visibility: hidden;
        overflow-y: hidden;
    }
  #btn-mobile{
      margin-left: 130px;
      margin-top: 15px;

  }

  #nav{
      margin-left: 190px;
  }
  #nav.active #menu {
      position: absolute;
      height: calc(100vh - 70vh);
      visibility: visible;
      overflow-y: auto;
  }

  #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #btn-mobile {
      display: flex;
      padding: .5rem 1rem;
      font-size: 20px;
      border: none;
      background: none;
      cursor: pointer;
      gap: .5rem;
  }

  #hamburger {
      display: inline-bolck;
      border-top: 2px solid;
      width: 20px;
      margin-top: 6px;

  }

  #hamburger::after,
  #hamburger::before {
      width: 20px;
      height: 2px;
      background-color: currentColor;
      content: '';
      display: block;
      margin-top: 5px;
      transition: .3s;
      position: relative;
  }

  #nav.active #hamburger {
      border-top-color: transparent;
  }

  #nav.active #hamburger::before {
      transform: rotate(-135deg);
  }

  #nav.active #hamburger::after {
      transform: rotate(135deg);
      top: -7px;
  }
  .home{
    margin-top: -30px;
  }
  #home {
      margin-top: 50px;
  }
  .cart-icon{
    margin-left: -10px;
    margin-top: -5px;
}
}