@media screen and (max-width: 1080px){
    #per3{
        height: 320px;
        max-width: 320px;
        padding-right: 90px;
        margin-top: -60px;
    }
    .data{
        margin-top: -15px;
      }
}