@media screen and (max-width: 1080px){
    #per9{
        margin-right: -150px;
        max-height: 500px;
        max-width: 510px;
        padding: 50px;
        top: -50px;
    }
    .price{
        margin-bottom: -3px;
    }
    .data{
        margin-top: 5px;
    }

}