@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    --header-height: 3.5rem;
    /*===== Font and typography =====*/
    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 1.5rem;
    --big-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-bold: 700;
}

body {
    font-family: Roboto;
}

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-thumb {
    background: #222;
}

.heading {
    text-align: center;
    color: #222;
    margin-bottom: 3rem;
    font-size: 4rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(0.4);
    }
}

#logo {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin-left: 30px;
}

header {
    box-sizing: border-box;
    height: 90px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
}

.navbar-mobile {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-mobile, #logo {
    font-size: 28px;
    margin-top: 8px;
    margin-left: 25px;
    margin-bottom: 10px;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    margin-top: -10px;
    margin-left: 70px;
}

#nav {
    width: 1000px;
}

#menu a {
    display: block;
    padding: .5rem;
    font-size: 18px;
}

#btn-mobile {
    display: none;
}

.cart-icon {
    width: 80px;
    height: 70px;
    background-image: url(style/img/cart-icon.png);
    background-size: contain;
    transition: 0.75s;
    margin-right: -200px;
    margin-top: -5px;
}

.cart-icon:hover {
    background-image: url(style/img/cart-icon-click.png);
    transition: 0.75s;
}

/*Carrinho*/
.cart .section-title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.cart {
    padding: 3rem 9%;
}

.cart-img {
    background: #fff;
    width: 30%;
    height: auto;
    margin-bottom: 0.5rem;
    width: 120px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.table-head-item {
    text-align: start;
    border-bottom: 1px solid #222;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.second-collumn {
    width: 50%;
}

.third-collumn {
    width: 10%;
}

.cart-product td {
    padding: 8px 0;
}

.product-identification {
    display: flex;
    align-items: center;
}

.cart-product-title {
    margin-left: 16px;
    font-size: 18px;
}

.cart-price {
    width: 48px;
    height: 34px;
    font-size: 1.8rem;
    font-weight: bolder;
    color: #000;
}

.product-quantity {
    width: 48px;
    height: 34px;
    border-radius: 6px;
    border: 2px solid #000;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

/* ICON REMOVER */
td button {
    margin-left: 12px;
    padding: 10px 10px;
    font-size: 2rem;
    transition: o.4s;
    background-color: transparent;
    cursor: pointer;
}

td button:hover {
    color: #fff;
    background-color: #222;
    border-radius: 6px;
}

.total-price {
    border-top: 1px solid #000;
    text-align: end;
    padding: 6px 16px 0 0;
    font-size: 18px;
}

.total-price strong {
    margin-right: 12px;
}

.total-price span {
    font-weight: bolder;
    color: #000;
}

.purchase {
    display: flex;
    margin: 24px auto 0;
    background-color: #000;
    color: #fff;
    border-radius: 6px;
    padding: 16px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}
@media screen and (max-width: 1020px){
    .header{
        display: none;
    }
    .cart-table{
        width: 300px;
        margin-left: 3%;
        margin-right: 3%;
    }
    .cart-price{
        margin-left: 5px;
    }
    .second-collumn, p{
        margin-left: 20px;
    }
    .product-identification{
        display: grid;
        margin-left: -20px;
    }
    .table-head-item{
        width: 200px;
    }
    td{
        display: flex-box;
    }
    .product-quantity{
        margin-left: 30px;
    }
    .fa-trash{
        margin-left: 35px;
    }
    #header {
        display: inline-block;
    }

    #header, #logo{
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        font-family: 'Roboto', sans-serif;
        padding: 0;
        margin-left: -15px;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        height: 0px;
        transition: .6s;
        z-index: 99999;
        visibility: hidden;
        overflow-y: hidden;
        margin-top: 5px;
    }

    #nav{
        margin-left: 190px;
    }
    #nav.active #menu {
        position: absolute;
        height: calc(100vh - 70vh);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 20px;
        border: none;
        background: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: .5rem;
        margin-left: 120px;
        margin-top: 5px;
    }

    #hamburger {
        display: inline-bolck;
        border-top: 2px solid;
        width: 20px;
        margin-top: 6px;

    }

    #hamburger::after,
    #hamburger::before {
        width: 20px;
        height: 2px;
        background-color: currentColor;
        content: '';
        display: block;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(-135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(135deg);
        top: -7px;
    }

    #home {
        margin-top: 50px;
    }
}
